<p id="notice"><%= notice %></p>

<h1>Greetings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <p id ="notice"><%= notice %></p>
  <br/>
    <% @greetings.each do |greeting| %>
     <div class="media">
      <img src= "<%= gravatarized_url(greeting.name) %>"  class ="align-self-start mr-3">
      <div class="media-body">
      <h5 class="mt-0"><%= greeting.name %></h5>

      </div>

     </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Greeting', new_greeting_path %>
